/*МЕНЮ*/

.main-menu {
	list-style: none;
	padding: 0;
	margin: 30px 0 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.main-menu > li {
	display: inline-flex;
}
.main-menu > li + li {
	margin-left: 20px;
}
.main-menu > li > a {
	padding: 0 0 20px 0;
	position: relative;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.2px;
	font-size: 18px;
	text-decoration: none;
}
.main-menu > li > a:hover {
	text-decoration: none;
	color: #337AB7;
}
.main-menu > li > a:after {
	width: 0;
	height: 3px;
	background-color: #337AB7;
	content: '';
	left: 0;
	bottom: 10px;
	position: absolute;
	transition: all .3s;
}
.main-menu > li > a:hover::after {
	width: 100%;
}
.main-menu > li.active a:after {
	width: 100%;
}
.main-menu li {
	margin: 0;
	white-space: nowrap;
}
.main-menu li.menu-children {
	position: relative;
	margin-right: 12px;
}
.main-menu li.menu-children:after {
	position: absolute;
	content: "\2039";
	color: #337AB7;
	font-size: 20px;
	font-weight: bold;
	right: -12px;
	top: -2px;
	transform: rotate(-90deg);
}
.main-menu li li.menu-children:after {
	position: absolute;
	content: "\2039";
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	right: 10px;
	top: 12px;
	transform: rotate(180deg);
}
.main-menu li.menu-children:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.main-menu ul {
	padding: 10px 0;
	margin: 0;
	list-style: none;
	background-color: #337AB7;
	position: absolute;
	z-index: 20;
	min-width: 220px;
	top: 100%;
	left: -30px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(5px);
	transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
	display: block;
	padding: 0 10px;
	line-height: 1.1;
}
.main-menu ul li:last-child {
	margin-bottom: 0;
}
.main-menu ul li a {
	display: block;
	color: #fff;
	padding: 10px;
	transition: all .3s;
	text-decoration: none;
}
.main-menu ul li a:hover {
	color: #337AB7;
	background: #FFF;
	text-decoration: none;
}
.main-menu ul ul {
	top: 0;
	left: 100%;
}

#img-Fi, #img-Sec, #img-Th, #img-Fo, #img-Ff {
	height: auto;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: #808080;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#First:hover #img-Fi, #Second:hover #img-Sec, #Third:hover #img-Th, #Fourth:hover #img-Fo, #Fifth:hover #img-Ff {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none; /* IE 6-9 */
	box-shadow: 5px 5px 30px #000;
}

#First:hover p{
	color: #000;
}

#Second:hover p{
	color: #000;
}

#Third:hover p{
	color: #000;
}

#Fourth:hover p{
	color: #000;
}

#Fifth:hover p{
	color: #000;
}

p {
	font-family: Segoe UI;
	margin: 0 0;
	transition: all 0.5s;
}

a {
	text-decoration: none;
	font-size: 18px;
}

header {
	padding: 0;
}

footer {
	height: 5%;
	background-color: #181A36;
	padding: 30px 90px;
}

.main {
	height: 450px;
	padding: 7%;
	width: auto;
}

#First {
	background-color: #A3FFB8;
}

#Second {
	background-color: #A6D2FF;
}

#Third {
	background-color: #FFFFAB;
}

#Fourth {
	background-color: #FFDB9E;
}

#Fifth {
	background-color: #FF7F8B;
}

iframe {
	margin-bottom: 30px;
}

.inside {
	width: auto;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#text-Fi {
	width: 55%;
}

#img-Fi {
	height: 100%;
	width: auto;
	position: absolute;
	right: 0;
}

#text-Sec {
	width: 55%;
	text-align: right;
	justify-content: right;
	order: 2;
}

#img-Sec {
	width: 40%;
	order: 1;
}

#text-Th {
	height: auto;
	width: 50%;
}

#img-Th {
	width: 45%;
}

#text-Fo {
	width: 55%;
	text-align: right;
	justify-content: right;
	order: 2;
}

#img-Fo {
	width: 40%;
	order: 1;
}

#text-Ff {
	height: auto;
	width: 45%;
}

#img-Ff {
	width: 50%;
}

#total > a {
	float: left;
	margin: 0;
}

.cent {
	text-align: center;
}

#total > p {
	font-size: 20px;
	margin-bottom: 3%;
	text-align: left;
}

.cont {
	color: #3C3C3C;
	font-size: 18px;
}

#total {
	width: 70%;
	height: auto;
	background-color: #FFF;
	text-align: center;
	padding: 60px;
}

.book {
	margin-bottom: 0;
}

#total > ul {
	padding: 0;
}

#total > ul > li{
	margin-left: 5%;
	text-align: left;
	font-size: 17px;
}

#color-total {
	background-color: #DCDCDC;
	padding: 150px 0 60px 0;
}

#divmenu {
	top: 0;
	height: 90px;
	width: 100%;
	background-color: #FFF;
	position: fixed;
	box-shadow: 0 5px 50px 0 black;
	z-index: 10;
}

#how {
	margin: 150px 0 60px;
	text-align: center;
}

.ArB {
	font-family: Arial;
	font-size: 18px;
	color: #FFF;
}

#D {
	width: 15px;
}

.Ar {
	font-family: Arial;
	font-size: 18px;
	color: #ABABAB;
	margin-bottom: 4px;
}

#footed {
	position: relative;
}

#con {
	width: 25%;
}

#author {
	left: 0;
}

#historian {
	position: absolute;
	top: 0;
	right: 0;
}